@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:ital@1&display=swap');
*{
    font-family: 'poppins', sans-serif;
}
body{
    color: white;
    background-color: rgb(15,0,50);
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: black;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
.right{
    font-size: x-large;
}
.left{
    font-size: medium;
}
.lef{
    text-align: center;
    font-size: xx-large;
}